.proyecto {
    display: flex;
    min-height: calc(100vh - 100px);
    flex-direction: column;
    max-width: 80vw;
    color: #FFF;

    p {
        font-size: 12px;
    }

    .imagen1{
        margin: auto;
        height: 200px; 
        width: 509px;
    }

}
